In [82]:
import pandas as pd
import numpy as np
import os

# 一、系列

    `Series`

## 1、创建系列

### 1.1、pandas创建系列

In [4]:
a = pd.Series()
print(a, type(a))

Series([], dtype: object) <class 'pandas.core.series.Series'>

### 1.2、从ndarray创建系列

In [7]:
x = np.array([1, 2, 3, 4, 5])

# 未指定index
s = pd.Series(x)
print(s)
print(type(s))
for i in s: print(i)

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
2
3
4
5

In [8]:
x = np.array([1, 2, 3, 4, 5])
# 指定index
s = pd.Series(x, index = [10, 20, 30, 40, 50])
print(s)

10    1
20    2
30    3
40    4
50    5
dtype: int64

### 1.3、字典创建系列

In [9]:
d = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(d)
print(s)

a    1
b    2
c    3
dtype: int64

In [15]:
d = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(d, index = ['c', 'a', 'b'])
print(s)
s['c']
# s[1]

c    3
a    1
b    2
dtype: int64

/var/folders/tm/gsqrg8td65q09g5x_7ydpqvm0000gn/T/ipykernel_3582/248969507.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

np.int64(1)

### 1.4、从标量创建系列

In [19]:
import pandas as pd
import numpy as np

s = pd.Series(5, index = ['c', 'a', 'b'])
print(s, '===========')

t = pd.Series(5, index = [1, 2, 3])
print(t, '===========')

c    5
a    5
b    5
dtype: int64 ===========
1    5
2    5
3    5
dtype: int64 ===========

## 2、访问系列

In [32]:
li = np.array([1, 2, 3, 4, 5])
s = pd.Series(li, index = ['c', 'a', 'b', 'e', 'f'])
# print(s['a'], '==========')
# print(s['a':], '=====')
# print(s[-2], '=====')
# print(s[-2:], '=====')
# print(s[['a', 'e', 'f']], '=====')
# print(s['a', 'e', 'f'], '=====') # 格式错误

# 如果检索的内容系列中没有，就会报错
print(s['h'])
# print(s[6])

KeyError: 'h'

## 3、系列的基本功能

### 3.1、系列的属性

In [102]:
s = pd.Series(np.random.randn(5))
# print(s, '====')
print(s.axes, '====')
# print(s.dtype, '====')
# print(s.values, '====')
# print(s.index)

[RangeIndex(start=0, stop=5, step=1)] ====

In [43]:
np.random.randn(5)

array([ 1.15040892,  0.12038426,  1.27116908, -0.97166598, -0.5254565 ])

### 3.2、系列的方法

In [52]:
s = pd.Series(np.random.randn(5))
# print(s)
# print(s.head(), '=====') # default 5 rows
# print(s.head(3), '=====')
print(s.tail()) # default 5 rows
# print(s.tail(3))

0   -1.156516
1   -1.485124
2    0.461247
3    0.356221
4    0.378392
dtype: float64

In [21]:
s = pd.Series(['Tom', 'Jack', 'John', 'Alber@t', np.nan, '1234', 'SteveMinsu'])

# print(s.str.len()) # get lenth

0     3.0
1     4.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [14]:
s = pd.Series(['Tom', 'Jack', 'John', '      Albe  r@t', np.nan, '1234', 'SteveMi  nsu'])

print(s, '=======')
print(s[3], '======')
print(s.str.strip()[3], '======')
# print(s.str.strip(), '=======')

0                Tom
1               Jack
2               John
3          Albe  r@t
4                NaN
5               1234
6       SteveMi  nsu
dtype: object =======
      Albe  r@t ======
Albe  r@t ======

In [17]:
s = pd.Series(['Tom', 'Jack', 'John', '      Albe  r@t', np.nan, '1234', 'SteveMi  nsu'])

print(s.str.split(' '), '======')
print(s.str.cat(sep = '-'), '======')

0                        [Tom]
1                       [Jack]
2                       [John]
3    [, , , , , , Albe, , r@t]
4                          NaN
5                       [1234]
6             [SteveMi, , nsu]
dtype: object ======
Tom-Jack-John-      Albe  r@t-1234-SteveMi  nsu ======

In [4]:
s = pd.Series(['Tom', 'Jack', 'John', 'Alber@t', np.nan, '1234', 'SteveMinsu'])

print(s.str.get_dummies())

   1234  Alber@t  Jack  John  SteveMinsu  Tom
0     0        0     0     0           0    1
1     0        0     1     0           0    0
2     0        0     0     1           0    0
3     0        1     0     0           0    0
4     0        0     0     0           0    0
5     1        0     0     0           0    0
6     0        0     0     0           1    0

In [74]:
s = pd.Series(['Tom', 'Jack', 'John', 'Alber@t', np.nan, '1234', 'SteveMinsu'])

print(s.str.repeat(3))

0                         TomTomTom
1                      JackJackJack
2                      JohnJohnJohn
3             Alber@tAlber@tAlber@t
4                               NaN
5                      123412341234
6    SteveMinsuSteveMinsuSteveMinsu
dtype: object

# 二、数据帧（DataFrame）

> 数据帧是二维数据结构，即数据以行和列的表格方式排列。

**功能特点：**
- 潜在的列是不同的类型
- 大小可变
- 标记轴（行和列）
- 可以对行和列执行算术运算

In [54]:
dates = pd.date_range("20241115", periods=6)
dates

DatetimeIndex(['2024-11-15', '2024-11-16', '2024-11-17', '2024-11-18',
               '2024-11-19', '2024-11-20'],
              dtype='datetime64[ns]', freq='D')

In [55]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list("ABCD"))
df

                   A         B         C         D
2024-11-15 -1.574334  0.630045  0.223378  2.286561
2024-11-16 -1.483359 -0.745969 -0.050909 -0.727293
2024-11-17  0.881678  1.125060 -0.134097 -0.550549
2024-11-18 -0.352857  0.545939 -0.977890  0.161047
2024-11-19 -2.163207 -0.107210  0.077133  0.710805
2024-11-20 -0.420754 -2.503652  0.982641  1.516829

In [63]:

# x = [[0, 0.3, 0.6, 0.9], [0.1, 0.2 ,0.4, 0.4]]
# pan = pd.DataFrame(x, index = 'Value', columns = ['VR', 'VI'])
# pan

In [79]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2
# df2.head(1)
# df2.tail(1)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

## Dataframe转为ndarray

In [80]:
# df.to_numpy()
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

## describe

In [81]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.852139 -0.175964  0.020043  0.566233
std    1.102760  1.312343  0.631801  1.180563
min   -2.163207 -2.503652 -0.977890 -0.727293
25%   -1.551590 -0.586279 -0.113300 -0.372650
50%   -0.952057  0.219365  0.013112  0.435926
75%   -0.369831  0.609019  0.186817  1.315323
max    0.881678  1.125060  0.982641  2.286561

# 三、pandas文件操作

## 1、pandas操作CSV文件

`read_csv()`：可选参数： read_csv 函数还支持许多可选参数，例如 sep（分隔符）、header（列头行的索引）、index_col（作为索引的列）、usecols（要读取的列）、dtype（指定数据类型）等等。根据需要进行设置。

In [145]:
# os.listdir()

df = pd.read_csv('P1(123453)/M-20241114-1.csv')
print(df)
# print(df.transpose())

# print(df.loc[2])
# print(df['Vg'] )
# print(type(df.values))
# print(df.head)

   Vg   Chf
0   1   4.0
1   2  24.0
2   3   4.5
3   4   0.4
4   5   2.4

In [115]:
df.transform(lambda x: x**2)

   Vg     Chf
0   1   16.00
1   4  576.00
2   9   20.25
3  16    0.16
4  25    5.76

In [143]:
df_trans = df.transpose()
# df_trans
df_trans.loc['Vg']

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
Name: Vg, dtype: float64

In [141]:
df.transpose().loc['Vg']

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
Name: Vg, dtype: float64