In [1]:
import pandas as pd
import numpy as np
import os

# 一、系列

    `Series`

## 1、创建系列

### 1.1、pandas创建系列

In [ ]:
a = pd.Series()
print(a, type(a))

### 1.2、从ndarray创建系列

In [ ]:
x = np.array([1, 2, 3, 4, 5])

# 未指定index
s = pd.Series(x)
print(s)
print(type(s))
for i in s: print(i)

In [ ]:
x = np.array([1, 2, 3, 4, 5])
# 指定index
s = pd.Series(x, index = [10, 20, 30, 40, 50])
print(s)

### 1.3、字典创建系列

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(d)
print(s)

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(d, index = ['c', 'a', 'b'])
print(s)
s['c']
# s[1]

### 1.4、从标量创建系列

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(5, index = ['c', 'a', 'b'])
print(s, '===========')

t = pd.Series(5, index = [1, 2, 3])
print(t, '===========')

## 2、访问系列

In [ ]:
li = np.array([1, 2, 3, 4, 5])
s = pd.Series(li, index = ['c', 'a', 'b', 'e', 'f'])
# print(s['a'], '==========')
# print(s['a':], '=====')
# print(s[-2], '=====')
# print(s[-2:], '=====')
# print(s[['a', 'e', 'f']], '=====')
# print(s['a', 'e', 'f'], '=====') # 格式错误

# 如果检索的内容系列中没有，就会报错
print(s['h'])
# print(s[6])

## 3、系列的基本功能

### 3.1、系列的属性

In [43]:
s = pd.Series(np.random.randn(5))
# print(s, '====')
# print(s.axes, '====')
# print(s.dtype, '====')
print(s.values, '====')
print(s.index)

[-1.35107808  1.15179852 -0.57608542  1.90243684  0.54814734] ====
RangeIndex(start=0, stop=5, step=1)

In [ ]:
np.random.randn(5)

### 3.2、系列的方法

In [ ]:
s = pd.Series(np.random.randn(5))
# print(s)
# print(s.head(), '=====') # default 5 rows
# print(s.head(3), '=====')
print(s.tail()) # default 5 rows
# print(s.tail(3))

In [ ]:
s = pd.Series(['Tom', 'Jack', 'John', 'Alber@t', np.nan, '1234', 'SteveMinsu'])

# print(s.str.len()) # get lenth

In [ ]:
s = pd.Series(['Tom', 'Jack', 'John', '      Albe  r@t', np.nan, '1234', 'SteveMi  nsu'])

print(s, '=======')
print(s[3], '======')
print(s.str.strip()[3], '======')
# print(s.str.strip(), '=======')

In [ ]:
s = pd.Series(['Tom', 'Jack', 'John', '      Albe  r@t', np.nan, '1234', 'SteveMi  nsu'])

print(s.str.split(' '), '======')
print(s.str.cat(sep = '-'), '======')

In [ ]:
s = pd.Series(['Tom', 'Jack', 'John', 'Alber@t', np.nan, '1234', 'SteveMinsu'])

print(s.str.get_dummies())

In [ ]:
s = pd.Series(['Tom', 'Jack', 'John', 'Alber@t', np.nan, '1234', 'SteveMinsu'])

print(s.str.repeat(3))

# 二、数据帧（DataFrame）

> 数据帧是二维数据结构，即数据以行和列的表格方式排列。

**功能特点：**
- 潜在的列是不同的类型
- 大小可变
- 标记轴（行和列）
- 可以对行和列执行算术运算

In [5]:
dates = pd.date_range("20241115", periods=6)
dates

DatetimeIndex(['2024-11-15', '2024-11-16', '2024-11-17', '2024-11-18',
               '2024-11-19', '2024-11-20'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list("ABCD"))
df

                   A         B         C         D
2024-11-15  0.773730  0.703181 -0.394578  0.190151
2024-11-16  0.633404 -0.129420 -1.048438 -2.031381
2024-11-17 -0.572264  1.435321  0.220051  0.780552
2024-11-18 -1.600808  0.867467 -1.511753  1.846648
2024-11-19 -0.231146 -0.130777  0.812991 -0.752609
2024-11-20  1.439334  0.914145 -0.031304  0.453226

In [ ]:

# x = [[0, 0.3, 0.6, 0.9], [0.1, 0.2 ,0.4, 0.4]]
# pan = pd.DataFrame(x, index = 'Value', columns = ['VR', 'VI'])
# pan

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2
# df2.head(1)
# df2.tail(1)

## Dataframe转为ndarray

In [ ]:
# df.to_numpy()
df2.to_numpy()

## describe

In [7]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.073708  0.609986 -0.325505  0.081098
std    1.093841  0.623558  0.850288  1.335246
min   -1.600808 -0.130777 -1.511753 -2.031381
25%   -0.486985  0.078730 -0.884973 -0.516919
50%    0.201129  0.785324 -0.212941  0.321689
75%    0.738648  0.902476  0.157212  0.698721
max    1.439334  1.435321  0.812991  1.846648

# 三、pandas文件操作

## 1、pandas操作CSV文件

`read_csv()`：可选参数： read_csv 函数还支持许多可选参数，例如 sep（分隔符）、header（列头行的索引）、index_col（作为索引的列）、usecols（要读取的列）、dtype（指定数据类型）等等。根据需要进行设置。

In [35]:
# os.listdir()
path = 'P1(123453)/M-20241114-1.csv'
df = pd.read_csv(path)
print(df)
# print(df.transpose())

print(df.loc[2]['Vg'])
# print(df['Vg'][2] )
# print(type(df.values))
# print(df.head)

   Vg   Chf
0   1   4.0
1   2  24.0
2   3   4.5
3   4   0.4
4   5   2.4
3.0

In [ ]:
df.transform(lambda x: x**2)

In [ ]:
df_trans = df.transpose()
# df_trans
df_trans.loc['Vg']

In [ ]:
df.transpose().loc['Vg']

## 1.2、修改元素值

`replace()`

In [39]:
df['Vg'].replace(2, 'hello', inplace=True)
print(df)
df['Vg'].replace(3, 1000, inplace=True)
print(df)
df['Vg'].replace(4, 1000, inplace=True)
print(df)
df['Vg'].replace(1000, 1000000, inplace=True)
print(df)

df['Vg'].replace(1000000, 'hi', inplace=True)
print(df)
df.to_excel('test/CV.xlsx')

      Vg   Chf
0      1   4.0
1  hello  24.0
2     hi   4.5
3     hi   0.4
4      5   2.4
      Vg   Chf
0      1   4.0
1  hello  24.0
2     hi   4.5
3     hi   0.4
4      5   2.4
      Vg   Chf
0      1   4.0
1  hello  24.0
2     hi   4.5
3     hi   0.4
4      5   2.4
      Vg   Chf
0      1   4.0
1  hello  24.0
2     hi   4.5
3     hi   0.4
4      5   2.4
      Vg   Chf
0      1   4.0
1  hello  24.0
2     hi   4.5
3     hi   0.4
4      5   2.4

In [23]:
df

   Vg   Chf
0   1   4.0
1   2  24.0
2   3   4.5
3   4   0.4
4   5   2.4